@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*font-size: 12px;*/

:root {
    --color-1: hsl(238, 29%, 16%);
    --color-2: hsl(14, 88%, 65%);
    --color-3: hsl(273, 75%, 66%);
    --color-4: hsl(240, 73%, 65%);
    --color-5: hsl(237, 12%, 33%);
    --color-6: hsl(240, 6%, 50%);
    --color-7: hsl(240, 5%, 91%);
    --color-8: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh+Sans', Arial;
    background: var(--color-4);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-8);
    border-radius: 20px;
}

.card-img img {
    width: 200px;
}

.card-img {
    padding: 20px;
 }

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text h1 {
    padding: 10px;
}

.text {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 40px 0;
}

.hover{
    font-size: 14px;
    color: var(--color-5);
}

.hover:hover {
    color: var(--color-2);
}

.p {
    padding-top: 20px;
    border-top: 1px solid var(--color-7);
    display: flex;
    justify-content: space-between;
}

#top {
    border-top: none;
}

.p button {
    border: none;
    background: var(--color-8);
    cursor: pointer;
}

.p img {   
    width: 15px;
    height: 10px;
}

.description {
    display: flex;
}

@media(min-width: 300px) {

    .description {
        display: none;
    }

    .description p {
        font-size: 12px;
        color: var(--color-6);
    }

    .open {
        display: block;
    }
}

@media(min-width: 576px){
    
.card {
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.card-text {
    align-items: flex-start;
}

.card-text h1 {
    padding: 20px 0 0 0;
}

.card-img img {
    width: 220px;
}

.card-img {
    padding: 0;
}

 .text {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

}

@media(min-width: 768px) {

    .container {
        max-width: 1280px;
        align-items: center;
    }

    .card {
        width: 85%;
        flex-direction: row;
    }
    
    .card-img img {
        width: 310px;
    }
    
    .card-img {
        padding: 20px;
     }
    
     .text {
        width: 300px;
    }

}